{% extends "registration/base.html" %}

{% block title %}Password reset complete{% endblock title %}

{% block content %}
    <div class="text-center">
        <h2 class="text-3xl font-extrabold text-gray-800">Password reset complete</h1>
    
        <p class="mt-2 text-gray-600">Your password has been set. You may go ahead and log in now.</p>
        
        <button onclick="window.location.href='{% url 'login' %}'" class='mt-6 py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500'>Login here</button>
    </div>
{% endblock %}
